html{
    background-color: #fcf4de; 
}

h1, h2{
    color: #474350; 
    font-family: 'Vollkorn', serif;
}

h3{
    color: #284b63; 
}

p{
    font-family: 'Loton', sans-serif; 
}

.container {
    display: grid; 
    grid-gap: 20px; 
    grid-template-columns: 10fr;
    grid-template-rows: 10px 10vh minmax(100vh, auto) 10vh; 
    grid-template-areas: 
        "top"
        "navbar"
        "content"
        "footer"
}

.content-container{
    display: grid; 
    grid-template-columns: 1.5fr 4fr 1fr; 
    grid-template-rows: 70px auto auto 150px; 
    justify-items: center; 
}

.navbar{
    grid-area: navbar;
    display: grid; 
    grid-template-columns: minmax(400px, auto) 1fr 1fr 1fr 5fr;
    grid-template-rows: 40px 20px 10px; 
    align-items: end; 
    justify-items: end; 
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content; 
}

.footer{
    grid-area: footer; 
}
.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.item.footer {
    /* We center the contents of these items. You can also do this with flexbox too! */
    font-size: 15px;
}
.item.intro{
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    grid-column: 2;
    grid-row: 3; 
}

#name{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 60px; 
    grid-row: 1/-1; 
    color: #474350; 
    font-family: 'Alegreya', serif;
    font-weight: 1000; 
}

.nav-item{
    display: grid;
    font-size: 22px; 
    grid-row: 2; 
    justify-self: end;  
}

a{
    color: #e98a15; 
    text-decoration: none; 
}

.title{
    justify-self: end; 
    grid-row: 1; 
}

.profile-pic{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 2 / 3; 
    border: 5px solid #284b63; 
}

.projects{
    display: grid; 
    grid-column: 2; 
    grid-row: 2; 
    justify-self: start; 
}

.resume{
    display: grid; 
    grid-column: 2;
    grid-row: 4; 
    justify-items: end; 
    align-items: center; 
    grid-template-columns: auto 1fr; 
    justify-self: start; 
    align-self: flex-start; 
}

#resume-intro{
    display: grid; 
    grid-row: 2;
    grid-column: 2; 
    justify-self: start; 
}

li a{
    color: #28ba9d; 
}
