html{
    background-color: #fcf4de; 
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

h1, h2{
    color: #474350; 
    font-family: 'Vollkorn', serif;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}

h3{
    color: #284b63; 
}

p{
    font-family: 'Loton', sans-serif; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.container {
    display: grid; 
    grid-gap: 20px; 
    grid-template-columns: 10fr;
    grid-template-rows: 10px 10vh minmax(100vh, auto) 10vh; 
    grid-template-areas: 
        "top"
        "navbar"
        "content"
        "footer"
}

.content-container{
    display: grid; 
    grid-template-columns: 1fr 4fr 1fr; 
    grid-template-rows: 70px auto auto 150px; 
    justify-items: center; 
}

.navbar{
    grid-area: navbar;
    display: grid; 
    grid-template-columns: minmax(400px, auto) repeat(3, minmax(90px, 1fr)) 5fr;
    grid-template-rows: 40px 20px 10px; 
    align-items: end; 
    justify-items: end; 
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content; 
}

.footer{
    grid-area: footer; 
}
.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.item.footer {
    /* We center the contents of these items. You can also do this with flexbox too! */
    font-size: 15px;
}
.item.intro{
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    grid-column: 2;
    grid-row: 3; 
}

#name{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 64px; 
    text-shadow: 1px 1px 1px rgba(70, 70, 70, 0.60);
    grid-row: 1/-1; 
    color: #474350; 
    font-family: 'Alegreya', serif;
    font-weight: 1000; 
}

.nav-item{
    display: grid;
    font-size: 22px; 
    grid-row: 2; 
    justify-self: end;  
}

a{
    color: #e98a15; 
    text-decoration: none; 
}

.title{
    justify-self: start; 
    align-self: center;
    grid-row: 1; 
    grid-column: 2;

}

.profile-pic{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 2 / 3; 
    border: 5px solid #284b63; 
}

.projects{
    display: grid; 
    grid-column: 2; 
    gap: 30px;
    grid-row: 2; 
    justify-self: start; 
}

.project{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    list-style-type: none;
}

.shadow{
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.image-link{
    display: grid; 
    grid-column: 2;
    grid-row: 4; 
    justify-items: end; 
    align-items: center; 
    grid-template-columns: 40px, 1fr, 1fr; 
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-self: start; 
    align-self: flex-start; 
}

#resume-intro{
    display: grid; 
    grid-row: 2;
    grid-column: 2; 
    justify-self: start; 
}

.links{
    display: grid; 
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    align-items: center; 
    gap: 10px;
}

.links .image-link{
    display: grid; 
    grid-column: 1;
    grid-row: 1; 
    gap: 5px;
    justify-items: end; 
    align-items: center; 
    justify-self: start; 
    align-self: flex-start; 
}

li a{
    color: #28ba9d; 
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

#game-container{
    display: grid; 
    grid-template-rows: 100vh; 
    justify-items: center;
    align-items: center; 
}

.my-list{
    padding-left: 100px;
    padding-top: 30px;  

    justify-self: start; 
    display: grid;
    grid-column: 2; 
    gap: 30px;
    grid-row: 2;
}

.contact-link{
    display: grid; 
}