<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - Tomas Ortega</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
        {% endblock %} 
    </head>
    <body>
        <div class="container">
            <div class="item navbar">Navegation bar</div>
            <div class="item sidebar">Sidebar</div>
            <div class="item content">
                {% block body %}
                {% endblock %}
            </div>
            <div class="item footer">footer</div>
        </div>
    </body>
</html>
