<!DOCTYPE html>
<html>
    <head>
        <title>Alien Invasion</title>
        <meta charset="utf-8">
        <script src="{{url_for('static', filename='scripts/phaser.min.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <p style="display: none;">{{url_for('static', filename="assets")}}</p>
        <script src="{{url_for('static', filename='scripts/alienInvasion/Entities.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/alienInvasion/SceneMainMenu.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/alienInvasion/SceneMain.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/alienInvasion/SceneGameOver.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/alienInvasion/game.js')}}"></script>
        <div id="game-container"></div>
    </body>
</html>