{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %} 
    {{super()}}
{% endblock %}  
{% block body %}
    <div class="content-container">
        <div class="intro-container one-edge-shadow">
            <img class="profile-pic shadow" src="{{url_for('static', filename='images/pictures/profile_pic.jpeg')}}">
            <p class="item intro">Hello! my name is Tomás, I'm a software developer based in Miami, FL who enjoys building websites, making games and developing tools and algorithms for solving complex and interesting problems. <br/>
                In my spare time I like to cook, watch movies, play guitar, and I'm currently very interested on film and music production and I'm learning about Digital Signal Processing to develop my own sound plugins.  
            </p>
            <input type="button" onclick="window.location.href='/contact'" class="contact-me-button" value="Contact Me"/>
        </div>
    </div>
    <!-- <div class="content-container">
        <div class='general-info'>
            <h2 class=title>About Me</h2>
            <h2 class=title>Education</h2>
            <h2 class=title>Skills</h2>
        </div>
    </div> -->
{% endblock %}
