{% extends "base.html" %}
{% block title %} Projects {% endblock %}
{% block head %} 
    {{super()}}
{% endblock %}  
{% block body %}
    <div class="content-container">
        <h1 class="title">Projects</h1>
        <ul class="projects">
            {% for project in projects %}
                <li class="Project">
                    <div>
                        <h3>{{project.title}}</h3>
                        <p>{{project.description}}</p>
                        {% for name, link in project.links.items() %}
                            <a href="{{link}}">{{name}}&nbsp&nbsp&nbsp</a>
                        {% endfor %} 
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}