{% extends "base.html" %}
{% block title %} Projects {% endblock %}
{% block head %} 
    {{super()}}
{% endblock %}  
{% block body %}
    <div class="content-container">
        <h1 class="title">Resume</h1>
        <div class="resume-container">
            <p id="resume-intro">
                I recently graduated and I'm currently looking for job opportunities. Please feel free to download my resume!
            </p>
            <a class="image-link grow colorize" href="{{ url_for('static', filename='documents/TomasOrtegaResume.pdf') }}">
                    <img src="{{url_for('static', filename='assets/document-icon.png')}}">
                    Download
            </a>
        </div>
    </div>
{% endblock %}